<!DOCTYPE html>
<html lang="en">

<%- include ('genaral/head.ejs') %>

<body>
    <!-- MENU -->
    <%- include ('genaral/menu.ejs') %>

    <!-- HOME CONTENT -->
    
    <div class="cart">
        <% if (detail_cart.length === 0) { %>
            <p>
                đéo có sản phẩm
            </p>
        <% } else {  %>
        <div class="table_section">
            <table class="cart-table">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAll" onclick="toggleSelectAll(this)"> </th>
                        <th>Sản Phẩm</th>
                        <th class="cart_price">Đơn Giá</th>
                        <th>Số Lượng</th>
                        <th>Số Tiền</th>
                        <th>Thao Tác</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <%detail_cart.forEach(function(each_Cart) { %>
                    <tr>
                        <td><input type="checkbox" class="product-checkbox" onclick="calculateTotal()"></td>
                        <td class="cart_produuct">
                            <img src="/product_img/<%= each_Cart.Img %>" alt="Product Image 1" class="product-image">
                            <p>
                                <%= each_Cart.Ten_san_pham %>
                            </p>
                        </td>
                        <td><%= each_Cart.Gia_san_pham %> đ</td>
                        <td class="qty_field">
                            <button class="qty-btn" onclick="updateQuantity(this, -1, '<%= each_Cart.Ma_san_pham %>')">-</button>
                            <input type="number" value="<%= each_Cart.So_luong %>" min="1" readonly>
                            <button class="qty-btn" onclick="updateQuantity(this, 1, '<%= each_Cart.Ma_san_pham %>')">+</button>
                        </td>
                        <td class="cart_price"><%= each_Cart.Gia_san_pham*each_Cart.So_luong %> đ</td>
                        <td><button class="remove-btn" onclick="removeProduct(this, '<%= each_Cart.Ma_san_pham %>')">Xóa</button></td>


                        <td class="hidden-info" style="display: none;">
                            <span class = "Ma_san_pham"><%= each_Cart.Ma_san_pham %></span>
                            <span class = "Ten_san_pham"><%= each_Cart.Ten_san_pham %></span>
                            <span class = "Img"><%= each_Cart.Img %></span>
                            <span class = "Gia_san_pham"><%= each_Cart.Gia_san_pham %></span>
                        </td>
                    </tr>
                   
                    
                    <% }); %>
                    


                    
                </tbody>
            </table>
        </div>

        <div class="summary">
            <p>Tổng thanh toán (<span id="itemCount">0 sản phẩm</span>): <span id="totalAmount">0 đ</span></p>
            <button class="purchase-btn" onclick="purchase()">Mua Hàng</button>
        </div>
        <% } %>
    </div>
    

    <!-- FOOTER -->
    <%- include ('genaral/footer.ejs') %>

    <!-- JAVASCRIPT LINK --><!-- IONCIONS LINK -->
    <%- include ('genaral/linkandicon.ejs') %>

</body>

</html>