<!DOCTYPE html>
<html lang="en">

<%- include ('genaral/head.ejs') %>

<body>
    <!-- MENU -->
    <%- include ('genaral/menu.ejs') %>

    <!-- HOME CONTENT -->
    <div class="checkout-container">
        <div class="checkout-top">
            <div class="checkout-title">
                <h2>Thanh toán</h2>
            </div>
            <div class="address">
                <h3>Thông tin nhận hàng</h3>
                <p>Tên người nhận: <%= info_user.Ho_ten %></p>
                <p>Số điện thoại: <%= info_user.Dien_thoai %></p>
                <div class="address-change">
                    <p><%= info_user.Dia_chi %></p>
                    <button id="changeAddressBtn">Thay đổi</button>
                </div>
            </div>
        </div>

        <div class="order-summary">
            <h3>Sản phẩm</h3>


            <% 
            let total_Checkout = 0;
            checkout.forEach(function(each_Checkout) { 
            %>
            <div class="order-item">
                <div class="img_checkout-product">
                    <img src="/product_img/<%= each_Checkout.Img %>" alt="Product Image">
                </div>

                <div class="order-details">
                    <p><%= each_Checkout.Ten_san_pham %></p>
                    <p>Đơn giá: <%= each_Checkout.Gia_san_pham %></p>
                    <p>Số lượng: <%= each_Checkout.So_luong %></p>
                </div>
                <div class="price">
                    <p>Thành tiền: ₫<%= parseInt(each_Checkout.So_luong)*parseInt(each_Checkout.Gia_san_pham) %></p>
                </div>
            </div>
            <% total_Checkout += parseInt(each_Checkout.So_luong)*parseInt(each_Checkout.Gia_san_pham) %>
            <% }); %>
            <div class="total">
                <p>Tổng tiền hàng:</p>
                <p>₫<%= total_Checkout %></p>
            </div>
            <div class="total">
                <p>Phí vận chuyển:</p>
                <p>₫43.900</p>
            </div>
            <div class="total">
                <p>Tổng thanh toán:</p>
                <span>₫<%= total_Checkout+43900 %></span>
            </div>
        </div>
        <div class="order-button">
            <button>Đặt hàng</button>
        </div>

        <!-- Modal Pop up Thay đổi thôn tin giao hàng -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Cập nhật thông tin</h2>
                <form action="checkout/update_address" method="POST">
                    <div class="checkout-update-name">
                        <label for="name">Họ và tên</label>
                        <input type="text" id="name" name="User_ID" value="<%= info_user.Ho_ten %>">
                    </div>
                    <div class="checkout-update-name">
                        <label for="phone">Số điện thoại</label>
                        <input type="text" id="phone" name="Dien_thoai" value="<%= info_user.Dien_thoai %>">
                    </div>
                    <div class="checkout-update-name">
                        <label for="address">Địa chỉ cụ thể</label>
                        <input type="text" id="address" name="Dia_chi" value="<%= info_user.Dia_chi %>">
                    </div>

                    <div class="modal-buttons">
                        <button type="button" id="cancelBtn">Hủy</button>
                        <button type="submit" id="update-name-cf">Hoàn thành</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <%- include ('genaral/footer.ejs') %>

    <!-- JAVASCRIPT LINK --><!-- IONCIONS LINK -->
    <%- include ('genaral/linkandicon.ejs') %>

</body>

</html>