<!DOCTYPE html>
<html>

<%- include ('genaral/head.ejs') %>

<body id="top">
    <!-- MENU -->
    <%- include ('genaral/menu.ejs') %>
    
    <!-- HOME CONTENT -->
    <main>
        
        <article>
            
            <!-- HERO SECTION -->
            <section class="section hero" id="home" aria-label="hero" data-section>
                <div class="container">

                    <ul class="has-scrollbar">

                        <li class="scrollbar-item">
                            <div class="hero-card has-bg-image"
                                style="background-image: url('./img/hero-banner-3.jpg')">

                                <div class="card-content">

                                    <h3 class="h3 hero-title" style="color: var(--black-text-color);">
                                        Bộ sản phẩm mới
                                    </h3>
                                    <h1 class="h1 hero-title title_product_ads">BEAUTY <span>OF</span> SKIN</h1>

                                    <p class="hero-text">
                                        Dòng sản phẩm chăm sóc da cao cấp chuyên biệt đến từ thương hiệu <b>Clé de Peau
                                            Beauté</b>. </p>

                                    <p class="price">Chỉ từ 499.000</p>

                                    <a href="/product" class="btn btn-primary">Mua Ngay</a>

                                </div>

                            </div>
                        </li>

                        <li class="scrollbar-item">
                            <div class="hero-card has-bg-image"
                                style="background-image: url('./img/hero-banner-2.jpg')">

                                <div class="card-content">

                                    <h3 class="h3 hero-title" style="color: var(--black-text-color);">
                                        Bộ sản phẩm mới
                                    </h3>
                                    <h1 class="h1 hero-title title_product_ads">BEAUTY <span>OF</span> SKIN</h1>

                                    <p class="hero-text">
                                        Dòng sản phẩm chăm sóc da cao cấp chuyên biệt đến từ thương hiệu <b>Clé de Peau
                                            Beauté</b>. </p>

                                    <p class="price">Chỉ từ 499.000</p>

                                    <a href="/product" class="btn btn-primary">Mua Ngay</a>

                                </div>

                            </div>
                        </li>

                        <li class="scrollbar-item">
                            <div class="hero-card has-bg-image"
                                style="background-image: url('./img/hero-banner-1.jpg')">

                                <div class="card-content">

                                    <h3 class="h3 hero-title" style="color: var(--black-text-color);">
                                        Bộ sản phẩm mới
                                    </h3>
                                    <h1 class="h1 hero-title title_product_ads">BEAUTY <span>OF</span> SKIN</h1>

                                    <p class="hero-text">
                                        Dòng sản phẩm chăm sóc da cao cấp chuyên biệt đến từ thương hiệu <b>Clé de Peau
                                            Beauté</b>. </p>

                                    <p class="price">Chỉ từ 499.000</p>

                                    <a href="/product" class="btn btn-primary">Mua Ngay</a>

                                </div>

                            </div>
                        </li>

                    </ul>

                </div>
            </section>
            <!-- Chuyển slide -->
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const slides = document.querySelectorAll('.scrollbar-item');
                    let currentSlideIndex = 0;

                    // Hàm chuyển slide
                    function showSlide(index) {
                        slides.forEach((slide, i) => {
                            if (i === index) {
                                slide.style.display = 'block';
                            } else {
                                slide.style.display = 'none';
                            }
                        });
                    }

                    // Hàm tự động chuyển slide
                    function autoChangeSlide() {
                        currentSlideIndex = (currentSlideIndex + 1) % slides.length;
                        showSlide(currentSlideIndex);
                    }

                    // Chuyển slide tự động mỗi 4 giây
                    setInterval(autoChangeSlide, 5000);
                });


            </script>

            <!-- COLLECTIONS -->
            <section class="section collection" id="collection" aria-label="collection" data-section>
                <div class="container">

                    <ul class="collection-list">

                        <li>
                            <div class="collection-card has-before hover:shine">

                                <h2 class="h2 card-title">Dầu Gội</h2>

                                <p class="card-text"></p>

                                <a href="/catalog/daugoi" class="btn-link">
                                    <span class="span">Xem Ngay</span>

                                    <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                                </a>

                                <div class="has-bg-image" style="background-image: url('./img/collection-1.jpg')"></div>

                            </div>
                        </li>

                        <li>
                            <div class="collection-card has-before hover:shine">

                                <h2 class="h2 card-title">Dầu Xả</h2>

                                <p class="card-text"></p>

                                <a href="/catalog/dauxa" class="btn-link">
                                    <span class="span">Xem Ngay</span>

                                    <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                                </a>

                                <div class="has-bg-image" style="background-image: url('./img/collection-2.jpg')"></div>

                            </div>
                        </li>

                        <li>
                            <div class="collection-card has-before hover:shine">

                                <h2 class="h2 card-title">Tạo kiểu tóc</h2>

                                <p class="card-text"></p>

                                <a href="/catalog/taokieutoc" class="btn-link">
                                    <span class="span">Xem Ngay</span>

                                    <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                                </a>

                                <div class="has-bg-image" style="background-image: url('./img/collection-3.jpg')"></div>

                            </div>
                        </li>

                    </ul>

                </div>
            </section>
            <hr>

            <!-- PRODUCTS -->
            <section class="section products container" data-section>
                <div class="home_new-product">
                    <div class="grid">
                        <div class="grid_row">
                            <div class="grid_column-12">
                                <div class="new-product">
                                    <h2 class="new-product_heading">
                                        SẢN PHẨM BÁN CHẠY
                                    </h2>
                                    <a href="#" class="more">XEM THÊM
                                        <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                                    </a>
                                </div>
                                <div class="product">
                                    <div class="grid_row">
                                        <div class="grid_column-2-4">
                                            <div class="product-item">
                                                <div class="product-item_img"
                                                    style="background-image: url('./img/product-01.jpg')">
                                                </div>
                                                <a href="#" class="product-item_name">
                                                    Hộp 8 Miếng Mặt Nạ Naruko Tràm Trà Kiềm Dầu Giảm Mụn 26ml/M
                                                </a>
                                                <div class="product_rating">
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-half-fill"></i>
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                </div>
                                                <div class="product-item_price">
                                                    <span class="product-item_price-current">123.000</span>
                                                    <span class="product-item_price-old">233.000</span>
                                                </div>
                                                <div class="product-item_action">
                                                    <ul class="product-item_action-list">
                                                        <li class="product-item_cart">
                                                            <span class="product-item_icon product-item_cart-icon">
                                                                <i class="ri-shopping-cart-2-fill"></i>
                                                            </span>
                                                            <span class="product-item_action-title">
                                                                <a href="#">Thêm vào giỏ</a>
                                                            </span>
                                                        </li>
                                                        <li class="product-item_buy">
                                                            <span class="product-item_icon product-item_buy-icon">
                                                                <i class="ri-eye-fill"></i>
                                                            </span>
                                                            <span class="product-item_action-title">
                                                                <a href="#">Chi tiết</a>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="grid_column-2-4">
                                            <div class="product-item">
                                                <div class="product-item_img"
                                                    style="background-image: url('./img/product-02.jpg')">
                                                </div>
                                                <a href="#" class="product-item_name">Sữa rửa mặt</a>
                                                <div class="product_rating">
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-half-fill"></i>
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                </div>
                                                <div class="product-item_price">
                                                    <span class="product-item_price-current">123.000</span>
                                                    <span class="product-item_price-old">233.000</span>
                                                </div>
                                                <div class="product-item_action">
                                                    <ul class="product-item_action-list">
                                                        <li class="product-item_cart">
                                                            <span class="product-item_icon product-item_cart-icon">
                                                                <i class="ri-shopping-cart-2-fill"></i>
                                                            </span>
                                                            <span class="product-item_action-title">
                                                                <a href="#">Thêm vào giỏ</a>
                                                            </span>
                                                        </li>
                                                        <li class="product-item_buy">
                                                            <span class="product-item_icon product-item_buy-icon">
                                                                <i class="ri-eye-fill"></i>
                                                            </span>
                                                            <span class="product-item_action-title">
                                                                <a href="#">Chi tiết</a>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="grid_column-2-4">
                                            <div class="product-item">
                                                <div class="product-item_img"
                                                    style="background-image: url('./img/product-03.jpg')">
                                                </div>
                                                <a href="#" class="product-item_name">Sữa rửa mặt</a>
                                                <div class="product_rating">
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-half-fill"></i>
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                </div>
                                                <div class="product-item_price">
                                                    <span class="product-item_price-current">123.000</span>
                                                    <span class="product-item_price-old">233.000</span>
                                                </div>
                                                <div class="product-item_action">
                                                    <ul class="product-item_action-list">
                                                        <li class="product-item_cart">
                                                            <span class="product-item_icon product-item_cart-icon">
                                                                <i class="ri-shopping-cart-2-fill"></i>
                                                            </span>
                                                            <span class="product-item_action-title">
                                                                <a href="#">Thêm vào giỏ</a>
                                                            </span>
                                                        </li>
                                                        <li class="product-item_buy">
                                                            <span class="product-item_icon product-item_buy-icon">
                                                                <i class="ri-eye-fill"></i>
                                                            </span>
                                                            <span class="product-item_action-title">
                                                                <a href="#">Chi tiết</a>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="grid_column-2-4">
                                            <div class="product-item">
                                                <div class="product-item_img"
                                                    style="background-image: url('./img/product-04.jpg')">
                                                </div>
                                                <a href="#" class="product-item_name">Sữa rửa mặt</a>
                                                <div class="product_rating">
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-half-fill"></i>
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                </div>
                                                <div class="product-item_price">
                                                    <span class="product-item_price-current">123.000</span>
                                                    <span class="product-item_price-old">233.000</span>
                                                </div>
                                                <div class="product-item_action">
                                                    <ul class="product-item_action-list">
                                                        <li class="product-item_cart">
                                                            <span class="product-item_icon product-item_cart-icon">
                                                                <i class="ri-shopping-cart-2-fill"></i>
                                                            </span>
                                                            <span class="product-item_action-title">
                                                                <a href="#">Thêm vào giỏ</a>
                                                            </span>
                                                        </li>
                                                        <li class="product-item_buy">
                                                            <span class="product-item_icon product-item_buy-icon">
                                                                <i class="ri-eye-fill"></i>
                                                            </span>
                                                            <span class="product-item_action-title">
                                                                <a href="#">Chi tiết</a>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="grid_column-2-4">
                                            <div class="product-item">
                                                <div class="product-item_img"
                                                    style="background-image: url('./img/product-05.jpg')">
                                                </div>
                                                <a href="#" class="product-item_name">Sữa rửa mặt</a>
                                                <div class="product_rating">
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-fill"></i>
                                                    <i class="ri-star-half-fill"></i>
                                                    <i class="ri-star-line"></i>
                                                    <i class="ri-star-line"></i>
                                                </div>
                                                <div class="product-item_price">
                                                    <span class="product-item_price-current">123.000</span>
                                                    <span class="product-item_price-old">233.000</span>
                                                </div>
                                                <div class="product-item_action">
                                                    <ul class="product-item_action-list">
                                                        <li class="product-item_cart">
                                                            <span class="product-item_icon product-item_cart-icon">
                                                                <i class="ri-shopping-cart-2-fill"></i>
                                                            </span>
                                                            <span class="product-item_action-title">
                                                                <a href="#">Thêm vào giỏ</a>
                                                            </span>
                                                        </li>
                                                        <li class="product-item_buy">
                                                            <span class="product-item_icon product-item_buy-icon">
                                                                <i class="ri-eye-fill"></i>
                                                            </span>
                                                            <span class="product-item_action-title">
                                                                <a href="#">Chi tiết</a>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </section>

            <!-- COLLECTIONS -->
            <section class="section collection" id="collection2" aria-label="collection" data-section>
                <div class="container">

                    <ul class="collection-list">

                        <li>
                            <div class="collection-card has-before hover:shine">

                                <h2 class="h2 card-title">Chăm Sóc Da</h2>

                                <p class="card-text"></p>

                                <a href="/group/catalog?group1=suatam&group2=duongda&group3=damat" class="btn-link">
                                    <span class="span">Xem Ngay</span>

                                    <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                                </a>

                                <div class="has-bg-image" style="background-image: url('./img/collection-4.jpg')"></div>

                            </div>
                        </li>

                        <li>
                            <div class="collection-card has-before hover:shine">

                                <h2 class="h2 card-title">Nước Hoa</h2>

                                <p class="card-text"></p>

                                <a href="/catalog/nuochoa" class="btn-link">
                                    <span class="span">Xem Ngay</span>

                                    <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                                </a>

                                <div class="has-bg-image" style="background-image: url('./img/collection-5.jpg')"></div>

                            </div>
                        </li>

                        <li>
                            <div class="collection-card has-before hover:shine">

                                <h2 class="h2 card-title">Chăm Sóc Tóc</h2>

                                <p class="card-text"></p>

                                <a href="/group/catalog?group1=daugoi&group2=dauxa&group3=taokieutoc" class="btn-link">
                                    <span class="span">Xem Ngay</span>

                                    <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                                </a>

                                <div class="has-bg-image" style="background-image: url('./img/collection-6.jpg')"></div>

                            </div>
                        </li>

                    </ul>

                </div>
            </section>

            <!-- BANNER -->
            <section class="section banner" aria-label="banner" data-section>
                <div class="container">

                    <ul class="banner-list">

                        <li>
                            <div class="banner-card banner-card-1 has-before hover:shine">

                                <p class="card-subtitle">Sản phẩm dưỡng da</p>

                                <h2 class="h2 card-title">Làn da luôn tươi khỏe</h2>

                                <a href="/catalog/duongda" class="btn btn-secondary">Xem ngay</a>

                                <div class="has-bg-image" style="background-image: url('./img/banner-1.jpg')"></div>

                            </div>
                        </li>

                        <li>
                            <div class="banner-card banner-card-2 has-before hover:shine">

                                <h2 class="h2 card-title">Sale sập sàn</h2>

                                <p class="card-text">
                                    Giảm giá lên đến 50%
                                </p>

                                <a href="/discount" class="btn btn-secondary">Xem ngay</a>

                                <div class="has-bg-image" style="background-image: url('./img/banner-2.jpg')"></div>

                            </div>
                        </li>

                    </ul>

                </div>
            </section>

            <!-- FEATURE -->
            <section class="section feature" aria-label="feature" data-section>
                <div class="container feature_container">

                    <h2 class="h2 section-title">Tại sao nên chọn GLAM?</h2>

                    <ul class="flex-list">

                        <li class="flex-item">
                            <div class="feature-card">

                                <img src="./img/feature-1.jpg" width="204" height="236" loading="lazy"
                                    alt="Guaranteed PURE" class="card-icon">

                                <h3 class="h3 card-title">Thiên Nhiên</h3>

                                <p class="card-text">
                                    Mọi sản phẩm đều từ thành phần đến từ thiên nhiên
                                </p>

                            </div>
                        </li>

                        <li class="flex-item">
                            <div class="feature-card">

                                <img src="./img/feature-2.jpg" width="204" height="236" loading="lazy"
                                    alt="Completely Cruelty-Free" class="card-icon">

                                <h3 class="h3 card-title">Không Độc Hại</h3>

                                <p class="card-text">
                                    Mọi sản phẩm đều theo tiêu chuẩn của FBI
                                </p>

                            </div>
                        </li>

                        <li class="flex-item">
                            <div class="feature-card">

                                <img src="./img/feature-3.jpg" width="204" height="236" loading="lazy"
                                    alt="Ingredient Sourcing" class="card-icon">

                                <h3 class="h3 card-title">Hiệu quả dài lâu</h3>

                                <p class="card-text">
                                    Kéo dài hiệu quả lên đến 12 tháng sau khi sử dụng
                                </p>

                            </div>
                        </li>

                    </ul>

                </div>
            </section>
            <% if (best_Discount !== undefined) { %>
            <!-- OFEER -->
            <section class="section offer" id="offer" aria-label="offer" data-section>
                <div class="container offer_container">
                    <%
                        // Phân tách chuỗi ảnh thành mảng ảnh, sử dụng dấu phẩy (,) làm dấu phân cách
                        let ar_Img = best_Discount.Hinh_anh.split(',');
                        

                    %>
                    <figure class="offer-banner">
                        <img src="/product_img/<%= ar_Img[1] %>" loading="lazy" alt="offer products" class="w-100">

                        <img src="/product_img/<%= ar_Img[2] %>" loading="lazy" alt="offer products" class="w-100">
                    </figure>

                    <div class="offer-content">

                        <p class="offer-subtitle">
                            <span class="span">Siêu ưu đãi</span>

                            <span class="badge" aria-label="20% off">-<%= best_Discount.Phan_tram %>%</span>
                        </p>

                        <h2 class="h2-large section-title"><%= best_Discount.Ten_san_pham %></h2>

                        <p class="section-text">
                            <%= best_Discount.Mo_ta_san_pham %>
                        </p>

                        <div class="countdown">

                            <span class="time" aria-label="days" id="countdown"></span>
                            
                        </div>

                        <a href="/product/<%= best_Discount.Ma_san_pham %>" class="btn btn-primary offer_btn">Chỉ với <%= best_Discount.Don_gia*best_Discount.Phan_tram/100 %> đ</a>

                    </div>

                    <script>
                        // Truyền dữ liệu từ EJS vào JavaScript
                        const Ngay_bat_dau = new Date('<%= best_Discount.Ngay_bat_dau %>').getTime();
                        const Ngay_ket_thuc = new Date('<%= best_Discount.Ngay_ket_thuc %>').getTime();
                
                        // Hàm đếm ngược
                        function countdown() {
                            const now = new Date().getTime();
                            const distance = Ngay_ket_thuc - now;

                            if (distance < 0) {
                                clearInterval(interval);
                                document.getElementById('countdown').innerHTML = "HẾT HẠN";
                                return;
                            }

                            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60)).toString().padStart(2, '0');
                            const seconds = Math.floor((distance % (1000 * 60)) / 1000).toString().padStart(2, '0');

                            document.getElementById('countdown').innerHTML = `${hours}:${minutes}:${seconds}`;
                        }

                        const interval = setInterval(countdown, 1000);

                        // Gọi countdown() ngay lập tức để hiển thị lần đầu tiên mà không phải đợi 1 giây
                        countdown();
                    </script>

                </div>
            </section>
            <% } %>
        </article>
    </main>

    <!-- FOOTER -->
    <%- include ('genaral/footer.ejs') %>


    <!-- BACK TO TOP -->
    <!-- <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
        <ion-icon name="arrow-up" aria-hidden="true"></ion-icon>
    </a> -->


    <!-- JAVASCRIPT LINK  AND IONCIONS LINK-->
    <%- include ('genaral/linkandicon.ejs') %>

    
</body>

</html>