<!DOCTYPE html>
<!-- Website - www.codingnepalweb.com -->
<html lang="en" dir="ltr">

<%- include ('genaral/head.ejs') %>

<body>
    <!-- SIDE MENU -->
    <%- include ('genaral/menu.ejs') %>

    <!-- HOME CONTENT -->
    <section class="admin_home-section" id="csc">
        <!-- HEADER -->
        <nav>
            <div class="sidebar-button">
                <i class="bx bx-menu sidebarBtn"></i>
                <span class="admin_dashboard_title">Thống kê</span>
            </div>
        </nav>

        <!-- CONTENT -->
        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                  <div class="right-side">
                    <div class="box-topic">Tất cả đơn hàng</div>
                    <div class="number"><%= overview.so_luong_hoa_don %></div>
                  </div>
                  <i class="bx bx-cart-alt cart"></i>
                </div>
                <div class="box">
                  <div class="right-side">
                    <div class="box-topic">Tất cả khách hàng</div>
                    <div class="number"><%= overview.so_luong_tai_khoan %></div>
                  </div>
                  <i class="bx bxs-cart-add cart two"></i>
                </div>
                <div class="box">
                  <div class="right-side">
                    <div class="box-topic">Tất cả sản phẩm</div>
                    <div class="number"><%= overview.so_luong_san_pham %></div>
                  </div>
                  <i class="bx bx-cart cart three"></i>
                </div>
                <div class="box">
                  <div class="right-side">
                    <div class="box-topic">Lợi nhuận</div>
                    <div class="number"><%= baseForm.formatTien(overview.tong_doanh_thu) %></div>
                  </div>
                  <i class="bx bxs-cart-download cart four"></i>
                </div>
              </div>

            <div class="sales-boxes">
                <div class="recent-sales box">
                    <canvas id="chart1" width="576" height="576"></canvas>
                    <script>
                        const serverDataJSON1  = '<%- JSON.stringify(chart1) %>';
                       
                        const serverData1 = JSON.parse(serverDataJSON1);
                        

                        // Chuyển đổi dữ liệu từ server thành mảng labels và data
                        const labels1 = serverData1.map(item => item.Thang);
                        const data1 = serverData1.map(item => parseFloat(item.Doanh_thu));

                        const labels = ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'];
                        const data = {
                            labels: labels1,
                            datasets: [{
                                label: 'Doanh thu (USD)',
                                data: data1,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        };
                        const config = {
                            type: 'line',
                            data: data,
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                    }
                                },
                                plugins: {
                                    title: {
                                        display: true,
                                        text: 'Biểu đồ doanh thu theo tháng',
                                        font: {
                                            size: 18
                                        },
                                        padding: {
                                            top: 20,
                                            bottom: 20
                                        },
                                        position: 'top'
                                    },
                                    legend: {
                                        display: true,
                                        position: 'bottom'
                                    }
                                }
                            }
                        };
                        const chart1 = new Chart(
                            document.getElementById('chart1'),
                            config
                        );
                    </script>
                </div>

                <div class="top-sales box">
                    <canvas id="chart2" width="576" height="576"></canvas>
                    <script>
                        const ctx = document.getElementById('chart2').getContext('2d');
                        const serverDataJSON  = '<%- JSON.stringify(chart2) %>';
                        const serverData = JSON.parse(serverDataJSON);


                        // Chuyển đổi dữ liệu từ server thành mảng labels và data
                        const labels2 = serverData.map(item => item.Ten_danh_muc);
                        const data2 = serverData.map(item => parseFloat(item.Tong_Doanh_Thu));


                        const chartData = {
                            labels: labels2,
                            datasets: [{
                                label: 'Doanh thu',
                                data: data2,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 75, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 75, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderWidth: 1
                            }]
                        };
                        const chartConfig = {
                            type: 'pie',
                            data: chartData,
                            options: {

                                title: {
                                    display: true,
                                    text: 'Thống kê trạng thái đơn hàng',
                                },
                                plugins: {
                                    title: {
                                        display: true,
                                        text: 'Thống kê trạng thái đơn hàng',
                                        font: {
                                            size: 18
                                        },
                                        padding: {
                                            top: 20,
                                            bottom: 20
                                        },
                                        position: 'top'
                                    },

                                    legend: {
                                        display: true,
                                        position: 'bottom'
                                    }
                                }
                            }
                        };
                        const chart2 = new Chart(
                            ctx,
                            chartConfig
                        );
                    </script>
                </div>
            </div>
        </div>
    </section>


    <script src="/admin/js/script.js" defer></script>
    <script>
        let sidebar = document.querySelector(".admin_sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>
</body>

</html>